body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Exo-thin;
  src: url(fonts/Exo-Thin.ttf);
}

@font-face {
  font-family: Exo-regular;
  src: url(fonts/Exo-Regular.ttf);
}

@font-face {
  font-family: Exo-Medium;
  src: url("fonts/Exo-Medium.ttf");
}

.redTitle {
  color: #ff6d6d;
  font-family: Exo-Medium;
  font-size: 3vh;
  margin: 0;
}

h1 {
  padding-top: 22vh;
  font-family: Exo-thin;
  font-size: 7vh;
  color: #282828;
  max-width: 570px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 100;
}

h2 {
  color: #282828;
  font-size: 6vh;
  font-family: Exo-Medium;
  font-weight: lighter;
}

h3 {
  color: #282828;
  font-size: 4vh;
  font-family: Exo-Medium;
  font-weight: lighter;
}

p {
  color: #717171;
  font-size: 3vh;
  font-family: Exo-Medium;
  font-weight: lighter;
}

.text p {
  font-family: Exo-Medium;
  font-weight: lighter;
  font-size: 3vh !important;
  padding-top: 1vh;
}

#first {
  width: 100%;
  height: 110vh;
  background: lightgrey url(../images/first-bgc.jpg) no-repeat top;
  background-size: cover;
  text-align: center;
}

#playVideoBtn {
  margin-top: 6vh;
  background: url(../images/PlayVideoIcon.png) no-repeat top;
  width: 70px;
  height: 70px;
  box-shadow: none;
  border: none;
}

input:focus,
input:hover {
  outline: none; /*убирает обводку от бразуера*/
  cursor: pointer;
}

input:active,
input::-moz-focus-inner {
  border: 0; /*убирает обводку от бразуера*/
}

#tryNowBtn {
  margin-top: 3vh;
  width: 195px;
  height: 50px;
  border-radius: 6px;
  background-color: #ff6d6d;
  border: none;
  font-family: Exo-regular;
  color: white;
  font-size: 16px;
  letter-spacing: 2px;
}

#noDetails {
  margin-top: 2vh;
  font-family: Exo-regular;
  color: #282828;
  font-size: 12px;
}

#containerInSecond {
  display: flex;
}

#contentInSecondBlock {
  width: 45%;
  margin: auto;
  margin-top: 10vh;
}

#imageInSecondBlock {
  background: url(../images/redTriangle.png) no-repeat bottom left;
  width: 35%;
  height: 90vh;
}

#third {
  background-color: #f6f5f3;
  min-height: 90vh;
  position: relative;
  overflow: hidden;
}

.penholder {
  position: absolute;
  top: -10vh;
  z-index: 2;
}

.earphones {
  position: absolute;
  top: -10vh;
  left: 70vw;
}

.coffeecup {
  position: absolute;
  top: 70vh;
  left: 75vw;
  z-index: 1;
}

#thirdTitle {
  text-align: center;
  padding-top: 18vh;
}

#featuresInThird {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  margin-top: 5vh;
}

.feature {
  flex: 1 200px;
  max-width: 400px;
  max-height: 400px;
  text-align: center;
}

#fourth {
  min-height: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 10vh;
  background: url("../images/backForForth.png") no-repeat;
}

#notebook {
  max-width: 50vw;
  flex: 2 600px;
}

#textInFourth {
  max-width: 50vw;
  padding: 50px;
  flex: 3 200px;
}

#fifth {
  min-height: 90vh;
  background: url("../images/bgcForFifth.png") no-repeat;
  background-size: cover;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 10vh;
}

.oneClient {
  flex: 1 300px;
  max-width: 320px;
  text-align: center;
}

.clientName{
  color: white;
  font-family: Exo-Medium;
  font-weight: lighter;
}

.clientsReview{
  color: #b3b3b5;
  font-style: italic;
}

#partners{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#sixth{
  min-height: 85vh;
  background-color: #f6f5f3;
  text-align: center;
  padding-top: 20vh;
  overflow: hidden;
}

.textInSixth{
  max-width: 50vw;
  margin: auto;
}

.brawser{
  display: block;
  margin: auto;
}

.next{
  background-color: black;
}

@media screen and (max-width: 955px) {
  #imageInSecondBlock {
    display: none;
  }

  #contentInSecondBlock {
    width: 90%;
  }
}
